.timeSlots {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 10px;
}
.slotsInp {
    margin: 10px;
}

.startTime{
    display: inline-block;
    margin-left: 10px;
}
.endTime {
    display: inline-block;
    margin-left: 50px;
}

/*modal*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.modal p {
    font-size: 20px;
    margin: 0;
}

.header {
    text-align: center;
    width: 100%;
    background: rgba(52, 91, 175, 1);
    padding: 1rem;
}

.header h2 {
    margin: 0;
    color: white;
}

.content {
    padding: 1rem;
}

.actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnAdd {
    font-size: 24px;
    cursor: pointer;
    color: rgba(52, 91, 175, 1);
    align-self: flex-end;
    margin-bottom: 0.5rem;
}

.timeSlots {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.timeSlots p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    flex: 1;
}

.timeSlots p:first-child {
    margin-right: 1rem;
}

@media (min-width: 600px) {
    .modal {
        width: 70%;
        max-width: 800px;
    }
}



/*card*/
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    background-color: #fff;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.card > h2 {
    color: #333;
    font-size: 18px;
    margin-top: 0;
}

.card > h3 {
    color: #666;
    font-size: 16px;
    margin: 8px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}

