@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
*{
  font-family: 'Big Shoulders Display', cursive;
}

.container{
    border-radius: 7em;
    background-color: #ebebeb;
    margin: 50px;
}