.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: none;
	height: 100vh;
	width: 100%;
  }
  
  .main-container {
	flex-grow: 1;
	width: 80%;
	display: flex;
	flex-direction: column;
	background-color: #ebebeb;
	border-radius: 3em;
	justify-content: none;
  }
  
  .content {
	margin-left: 40px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
  }
  
  .item {
	font-size: 20px;
	flex: 0 0 12.5%; /* Establece un tamaño fijo para cada elemento, ajusta según tus necesidades */
	margin: 10px;
  }
  .chart-table-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
  }

.dashboard__general-information{
	padding: 30px;
	display:flex;
	gap:4px;
	align-items: center;
	flex-wrap: wrap;
}

.general-information__item{
	padding: 0px 10px 0px 10px;
	background-color: white;
	border-radius: 5px;
	max-width: 400px;
	width: 20%;
}
  
  
  