.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgb(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 550px;
	background-color: white;
	border-radius: 10px;
	z-index: 100;
	overflow: hidden;
}

.modal p {
	font-size: 20px;
}

.header {
	text-align: center;
	width: 100%;
	background: rgba(52, 91, 175, 1);
	padding: 1rem;
	position: relative;
}

.header h2 {
	margin: 0;
	color: white;
}

@media (min-width: 1000px) {
	.modal {
		left: calc(50% - 20rem);
		width: 45rem;
	}
}

.subject-item {
	font-size: 30px;
	padding: 10px;
	width: 300px;
	outline: 1px solid gray;
	transition: all 0.5s;
	cursor: pointer;
}

.subject-item:hover {
	color: white;
	background: rgba(52, 91, 175, 1);
}

.selected {
	color: white;
	background: rgba(52, 91, 175, 1);
}

.selected:hover {
	color: white;
	background: rgb(189, 16, 25);
}

.close__modal {
	color: white;
	position: absolute;
	font-size: 30px;
	top: 30%;
	right: 1rem;
	transform: translateY(-50%);
	cursor: pointer;
}



.actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.table {
	width: 95%;
	margin: 20px;
	background-color: white !important;
	border-collapse: collapse !important;
	flex: 1;
	overflow: auto;
}

.table thead>tr>th {
	font-size: 30px;
	padding: 20px;
}

.table tbody>tr>td {
	font-size: 25px;
	text-align: center;
	padding: 3px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px
}

.form__item>input {
	width: 320px;
	padding: 20px;
	border-radius: 20px;
	border: 1px solid lightgray;
	font-size: 20px;
	height: 10px;
}

.form__item>input:focus {
	outline: 1px solid rgba(52, 91, 175, 1);
}

.form__item-error>input {
	width: 320px;
	padding: 20px;
	border-radius: 20px;
	border: 1px solid red;
	font-size: 20px;
	height: 10px;
}

.form__item-error>input:focus {
	outline: 1px solid red;
}

.fom__item-error>label {
	color: red;
}

.button__add-subject {
	font-size: 25px;
	color: rgba(52, 91, 175, 1);
	cursor: pointer;
}

.subject-list {
	font-size: 20px;
	width: 150px;
}

.subject-list__remove {
	color: red;
	cursor: pointer;
}

.select {
	width: 360px;
	font-size: 20px;
	border-radius: 3em;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: none;
	height: 100vh; /* Establece la altura del contenedor como el 100% de la altura de la pantalla */
	width: 100%; /* Establece el ancho del contenedor como el 100% del ancho disponible */
}

.main-container {
	flex-grow: 1; /* Hace que el segundo div ocupe todo el espacio vertical restante */
	width: 80%; /* Establece el ancho del segundo div */
	display: flex;
	flex-direction: column;
	background-color: #ebebeb;
	border-radius: 3em;
	justify-content: none;
}
