.button{
    color:white;
    padding: 5px;
    background-color: rgb(236, 64, 64);
    border-radius: 5em;
    font-size: 25px;
    outline: none ;
    border: none;
    width: 30px;
    cursor: pointer;
    transition: all .2s;

}
.button:hover{
    background-color: rgb(99, 3, 3);
}
button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: rgb(236, 64, 64);
  color: #ffffff;
  border-color: #ccc;
  cursor: not-allowed;
}