.main-container{
    background-color: #ebebeb;
    border-radius: 3em;
    overflow-x:scroll;
}
.table{
    width: 95%;
    margin: 20px;
    background-color: white !important;
    border-collapse:collapse !important;
    flex: 1;
}

.table thead >tr:nth-of-type(2n){
    background-color: gray;
}

.table thead >tr > th{
    text-align: left;
    font-size: 25px;
    padding: 10px 0px 10px 20px;


}
.table tbody>  tr > td{
    font-size: 20px;
    text-align: left;
    padding: 15px;

}

.id{
    text-align: center;
    width: 20px;
}
    table > tbody >tr:not(:last-child) {
    border-bottom: 1px solid rgb(169, 168, 168);
}
.actions__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    gap: 20px;
}
.icon__edit{
    color: rgba(52, 91, 175, 1);
    font-size: 35px;
    cursor: pointer;
    transition: all .2s ease-in-out; 

}
.icon__delete{
    color: rgb(255, 0, 0);
    font-size: 35px;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}
.icon__edit:hover{
    transform: scale(1.1); 

}

.icon__delete:hover{
    transform: scale(1.1); 
}
.select{
    width: 360px;
    font-size: 20px;
    border-radius: 3em;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px
}
.form__item > input{
    width: 320px;
    padding: 20px;
    border-radius: 20px;
    border:1px solid lightgray;
    font-size: 20px;
    height: 10px;
}

.form__item > input:focus{
    
    outline: 1px solid rgba(52, 91, 175, 1);
}
.form__item-error > input {
    width: 320px;
    padding: 20px;
    border-radius: 20px;
    border:1px solid red;
    font-size: 20px;
    height: 10px;
}
.form__item-error > input:focus{
    outline: 1px solid red;
}
.fom__item-error > label{
    color: red;
}
.button__add-subject{
    font-size: 25px;
    color:rgba(52, 91, 175, 1);
    cursor: pointer;
}
.subject-list {
	font-size: 20px;
	width: 150px;
}
.subject-list__remove {
	color: red;
	cursor: pointer;
}
.schedule__icon {
    color: rgba(52, 91, 175, 1);
    font-size: 35px;
    cursor: pointer; 
    transition: all .2s ease-in-out; 
}

.schedule__icon:hover {
    color: darkblue; 
    transform: scale(1.1); 
}
.header {
    text-align: center;
    width: 100%;
    background: rgba(52, 91, 175, 1);
    padding: 1rem;
    position: relative;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  